body {
  background-color: lighten(aqua, 35%);
  font-family: 'Lora', serif;
  text-align: center;
}

li {
  list-style: none;
}

// button {
//   width: 50%;
//   background-color: white;
//   border: none;
//   border-radius: 8px;
//   color: black;
//   padding: 0.5rem;
//   transition: all 0.2s ease-in-out;
//   margin-bottom: 25px;
//   &:hover {
//     border-radius: 0;
//     cursor: pointer;
//     background-color: black;
//     color: white;
//   }
// }
img {
  max-width: 300px;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: 0 auto;
  .form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    input {
      margin-bottom: 15px;
      height: 25px;
    }
  }
  button {
    width: 50%;
    background-color: white;
    border: none;
    border-radius: 8px;
    color: black;
    padding: 0.5rem;
    transition: all 0.2s ease-in-out;
    margin-bottom: 25px;
    &:hover {
      border-radius: 0;
      cursor: pointer;
      background-color: black;
      color: white;
    }
  }
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0px;
}

// ······· Home ·······

.rental-listings {
  display: flex;
  // flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}
.rental-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
  box-shadow: 2px 2px 2px lightslategrey;
  padding: 0.9rem;
  flex: 1 1 30%;
  height: 300px;
  margin: auto 1em;
  .rental-title {
    font-size: 18px;
    text-align: center;
    margin: 0 0 0.5rem 0;
  }
  img {
    max-width: 100%;
    max-height: 80%;
  }
  // .rentalBtns {
  //   margin-top: 3%;
  //   display: flex;
  //   justify-content: center;
  //   .btn-show-image {
  //     background-color: #62C370;
  //     border: none;
  //     border-radius: 8px 0 0 8px;
  //     color: white;
  //     padding: 0.5rem;
  //     transition: all 0.1s ease-in-out;
  //     &:hover {
  //       // background-color: lighten(#62C370, 10%);
  //       border-radius: 0;
  //       cursor: pointer;
  //     }
  //   }
  //   .btn-delete-tile {
  //     background-color: #CC3363;
  //     border: none;
  //     border-radius: 0 8px 8px 0;
  //     color: white;
  //     padding: 0.5rem;
  //     transition: all 0.1s ease-in-out;
  //     &:hover {
  //       // background-color: lighten(#CC3363, 10%);
  //       border-radius: 0;
  //       cursor: pointer;
  //     }
  //   }
  // }
}
// ······· About ·······

// ······· Contact ·······

// ······· Announcements ·······
