<h1>Important Announcements</h1>
<p>Here we will keep you updating on things happening at Space Rentals!</p>
<ul>
  {{#each model as |announcement|}}
    <li>{{announcement-tile announcement=announcement}}</li>
  {{/each}}
</ul>

{{new-announcement save2Announcements="save3Announcements"}}
