<h1>Important Announcements</h1>
<p>Here we will keep you updating on things happening at Space Rentals!</p>
<ul>
  {{#each model as |announcement|}}
    {{announcement-tile announcement=announcement}}
  {{/each}}
</ul>

{{new-announcement save2="save3"}}
