<h1> Welcome to {{model.name}} </h1>

{{city-tile city=model destroyCity="destroyCity"}}

<!-- <button {{action 'destroyCity' model}}>Nuke this City!!!</button> -->

{{new-rental save="save" city=model}}
