<div class="container">
  <h1> Welcome to Super Rentals </h1>

  We hope you find exactly what you're looking for in a place to stay.

  <h2>Available Rentals</h2>

  <ul class="rental-listings">
    {{#each model.rentals as |rental|}}
      <li>{{rental-tile rental=rental update="update" destroyRental="destroyRental"}}</li>
    {{/each}}
  </ul>

  {{new-rental save="save"}} <!-- We are creating a variable (save) with the value of save and passing it up to the route/filename.js (in this case, index.js)-->

  <hr>

  <h2> Cities </h2>

  <ul>
    {{#each model.cities as |city|}}
      <li>{{#link-to 'city' city.id}}{{city.name}}{{/link-to}}</li>
    {{/each}}
  </ul>

  {{new-city save="save"}}

  <hr>

  {{#link-to 'about'}}About{{/link-to}} |
  {{#link-to 'contact'}}Click here to contact us.{{/link-to}} |
  {{#link-to 'announcements'}}View Important Announcements!{{/link-to}}
</div>
